.content {
  display: flex;
  flex: 1;
}
.sidebar {
  background: pink;
  padding: 1rem;
  min-width: 20%;
}

.main {
  min-width: 80%;
}

.navigation ul {
  display: flex;
  flex: 1;
}

.navigation li {
  width: 200px;
  list-style: none;
}